.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    padding-top: 10px;
    padding-bottom: 10px;
}

.o_footer_copyright {
    display: none;
}
.content-wrapper{
margin-top: 0px !important;
}
header#top {
    display: none;
}
.dropdown-menu.js_usermenu.dropdown-menu-right.show a:first-child {
    display: none;

}

div#o_logout_divider {
    display: none;
}
