<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
          <menuitem id="menu_sm_root"
                    name="School Management"
                    action=""
                    sequence="0" />
          <menuitem id="menu_data"
                    name="Data"
                    parent="menu_sm_root"
                    action=""
                    sequence="1" />
          


    </data>
</odoo>