<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_sm_root"
                  name="School Management"
                  action=""
                  sequence="0" />
        <menuitem id="menu_configuration"
                  name="Configuration"
                  parent="menu_sm_root"
                  action=""
                  sequence="1" />
        <menuitem
                name="4th Subject Config"
                id="menu_student_subject_config_list"
                sequence="7"
                action="action_student_subject_config"
                parent="menu_configuration"/>
        <menuitem name="Exam Configuration"
                  id="menu_exam_list"
                  sequence="2"
                  action="action_exam"
                  parent="menu_sm_root"/>
        <menuitem id="menu_Result"
                  name="Result"
                  parent="menu_sm_root"
                  action=""
                  sequence="3" />
        <menuitem
                name="Notice"
                id="menu_notice_list"
                sequence="4"
                action="action_notice"
                parent="menu_sm_root"/>
        <menuitem
                name="Data"
                id="menu_data_list"
                sequence="5"
                action=""
                parent="menu_sm_root"/>
        <menuitem
                name="Student"
                id="menu_student_list"
                sequence="0"
                action="action_student"
                parent="menu_data_list"/>
        <menuitem
                name="Guardian"
                id="menu_guardian_list"
                sequence="1"
                action="action_guardian"
                parent="menu_data_list"/>
        <menuitem
                name="Combined Subject Config"
                id="menu_combined_subject_view"
                sequence="2"
                action="action_combined_subject"
                parent="menu_data_list"/>


    </data>
</odoo>